<h1>registerform</h1>

<form action="/register" method="POST">
    <input name="username" type="text" placeholder="username">
    <input name="password" type="password" placeholder="password">
    <button>Submit</button>
</form>

<li><a href="/register">sign up</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout">logout</a></li>
<li><a href="/secret">secret</a></li>