<html>
<head>
    <title>blog</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
</head>

<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="code icon"></i>Blog Site</div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>
        <div class="right menu">
            <% if(!user) { %>
                <a class="item" href="/register">Register</a>
                <a class="item" href="/login">Login</a>
            <% } else { %>
            <span class="item">Signed in as <%= user.username %></span>
            <a class="item" href="/logout">Log Out</a>
            <% } %>
        </div>
    </div>
</div>

<div class="ui main text container">
    <% if(success && success.length > 0) { %>
    <div class="ui success message">
        <div class="header">
            <%= success %>
        </div>
    </div>
    <% } %>
    <% if(error && error.length > 0) { %>
    <div class="ui negative message">
        <div class="header">
            <%= error %>
        </div>
    </div>
    <% } %>
</div>
