<% include ./partials/header %>
<div class="ui main text container">
    <h1>register</h1>

    <form action="/register" method="POST">
        <input name="username" type="text" placeholder="username">
        <input name="password" type="password" placeholder="password">
        <button>sign up</button>
    </form>

</div>
<% include ./partials/footer %>